.subHeader {
  filter: none !important;
  text-wrap: wrap;
  position: relative;
  visibility: hidden;
  height: 1px;
  background-color: var(--p-color-bg-surface-secondary);
}

.cell {
  max-width: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 16px;
}
